<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleExecutable</key>
		<string>Figma Shortcut.swift</string>
		<key>CFBundleIconFile</key>
		<string>Icon</string>
		<key>CFBundleIdentifier</key>
		<string>com.interestinglythere.FigmaShortcut</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>0.1</string>
		<key>CFBundleName</key>
		<string>Test App</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>figma.url</string>
				<string>figmaurl</string>
				<string>figmaloc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Figma shortcut</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>Icon</string>
		</dict>
	</array>
	</dict>
</plist>
